<nav>
  <div class="pagehead">
    <div class="pagehead-left">
      <h1 class="site-title">Where's My Game?!</h1>
    </div>
    <div class="pagehead-right">
      <% if(typeof user!='undefined' ){ %>
      <a href="/auth/logout">(<%= user.emails[0].value %>) Logout</a>
      <% } else{ %>
        <a href="/auth/google">Login With Google</a>
        <% } %>
    </div>
  </div>
  <ul>
    <li><a href="/events">All Events</a></li>
    <li><a href="#">Find An Event</a></li>
  </ul>
</nav>